---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title = "Music Blog" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      referrerpolicy="no-referrer"
    />
  </head>

  <slot name="scripts" />


  <body>
    <Header />
    <main>
      <slot />
    </main>

    <!-- Scripts das páginas -->
    <slot name="scripts" />

    <Footer />
  </body>
</html>
